fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg[binary]

redis

aiokafka

pydantic-settings
python-dotenv
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]

groq

httpx
alembic
python-multipart
pgvector